# Cleaning:

In [118]:
# Import libraries:

import pandas as pd
import numpy as np
from functools import reduce

## Demographic Data:

In [43]:
# Load Demographic Data:

demog = pd.read_csv('../data/tabular_data/acs_data/acs_demographic/ACSDP5Y2018.DP05_data_with_overlays_2020-05-13T160540.csv')
demog.head(2)

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",8.2,105.7,35.3,(X),(X),5160,480,5160,...,160,864,(X),444,106,51.4,8.2,420,107,48.6

In [44]:
# Keep demographic variables of interest:

demog = demog[['GEO_ID',
               'NAME',
               'DP05_0001E',
               'DP05_0002PE',
               'DP05_0018E',
               'DP05_0071PE',
               'DP05_0077PE',
               'DP05_0078PE',
               'DP05_0079PE',
               'DP05_0080PE',
               'DP05_0081PE',
               'DP05_0082PE']]

In [45]:
# Rename column headers to descriptives (names pulled from metadata table in 'data' folder):

demog = demog.rename(columns={'GEO_ID' : 'geo_id',
                              'NAME' : 'name',
                              'DP05_0001E' : 'total_pop',
                              'DP05_0002PE' : 'pct_male',
                              'DP05_0018E'  : 'median_age',
                              'DP05_0071PE' : 'pct_hisp_latino',
                              'DP05_0077PE' : 'pce_white',
                              'DP05_0078PE' : 'pct_black',
                              'DP05_0079PE' : 'pct_american_ind',
                              'DP05_0080PE' : 'pct_asian',
                              'DP05_0081PE' : 'pct_hawaiian_pacisldr',
                              'DP05_0082PE' : 'pct_other_race',
                              'DP05_0086E'  : 'total_housing_units'})

In [46]:
# Drop duplicate name row from original census data:

demog = demog.drop([0])
demog.head()

,geo_id,name,total_pop,pct_male,median_age,pct_hisp_latino,pce_white,pct_black,pct_american_ind,pct_asian,pct_hawaiian_pacisldr,pct_other_race
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",5160,47.2,41.3,14.6,76.1,0.7,0.0,6.2,0.0,0.0
2,1400000US11001000201,"Census Tract 2.01, District of Columbia, Distr...",3817,46.7,19.8,9.9,57.2,8.7,0.2,18.5,0.0,0.0
3,1400000US11001000202,"Census Tract 2.02, District of Columbia, Distr...",4541,50.8,27.5,8.9,74.3,5.9,0.9,6.3,0.3,0.0
4,1400000US11001000300,"Census Tract 3, District of Columbia, District...",6334,44.9,31.5,6.6,77.1,7.3,0.0,7.4,0.0,0.0
5,1400000US11001000400,"Census Tract 4, District of Columbia, District...",1428,42.6,45.7,15.6,72.5,3.0,0.0,6.2,0.0,0.0

In [47]:
# Observe columns:

demog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 1 to 181
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   geo_id                 181 non-null    object
 1   name                   181 non-null    object
 2   total_pop              181 non-null    object
 3   pct_male               181 non-null    object
 4   median_age             181 non-null    object
 5   pct_hisp_latino        181 non-null    object
 6   pce_white              181 non-null    object
 7   pct_black              181 non-null    object
 8   pct_american_ind       181 non-null    object
 9   pct_asian              181 non-null    object
 10  pct_hawaiian_pacisldr  181 non-null    object
 11  pct_other_race         181 non-null    object
dtypes: object(12)
memory usage: 18.4+ KB

## Economic Data:

In [49]:
# Load Data:

econ = pd.read_csv('../data/tabular_data/acs_data/acs_econ/ACSDP5Y2018.DP03_data_with_overlays_2020-05-13T155408.csv')
econ.head(2)

,GEO_ID,NAME,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,...,DP03_0135PE,DP03_0135PM,DP03_0136E,DP03_0136M,DP03_0136PE,DP03_0136PM,DP03_0137E,DP03_0137M,DP03_0137PE,DP03_0137PM
0,id,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Margin of Error!!EMPLOYMENT STATUS!!Population...,Percent Estimate!!EMPLOYMENT STATUS!!Populatio...,Percent Margin of Error!!EMPLOYMENT STATUS!!Po...,...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Margin of Error!!PERCENTAGE OF FAMILIES AND PE...,Percent Estimate!!PERCENTAGE OF FAMILIES AND P...,Percent Margin of Error!!PERCENTAGE OF FAMILIE...
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",4282,361,4282,(X),3323,322,77.6,5.6,...,2.5,3.9,(X),(X),2.6,3.1,(X),(X),11.0,9.5

In [50]:
# Keep Economic Variables of Interest:

econ = econ[['GEO_ID',
               'NAME',
               'DP03_0005PE',
               'DP03_0025E',
               'DP03_0062E',
               'DP03_0088E'
              ]]

In [51]:
# Rename column headers to descriptives (names pulled from metadata table in 'data' folder):

econ = econ.rename(columns={'GEO_ID': 'geo_id',
                             'NAME': 'name',
                             'DP03_0005PE' : 'pct_unemployed',
                             'DP03_0025E' : 'avg_wrk_commute_mins',
                             'DP03_0062E' : 'median_hsld_income',
                             'DP03_0088E' : 'per_cap_income'
                             })

In [52]:
# Drop duplicate name row from original census data:

econ = econ.drop([0])
econ.head()

,geo_id,name,pct_unemployed,avg_wrk_commute_mins,median_hsld_income,per_cap_income
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",1.8,24.2,191146,136192
2,1400000US11001000201,"Census Tract 2.01, District of Columbia, Distr...",2.1,13.3,-,3743
3,1400000US11001000202,"Census Tract 2.02, District of Columbia, Distr...",2.3,21.3,170987,79611
4,1400000US11001000300,"Census Tract 3, District of Columbia, District...",2.0,25.3,152120,75083
5,1400000US11001000400,"Census Tract 4, District of Columbia, District...",0.4,25.6,126731,137970

In [53]:
# Check Econ data:

econ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 1 to 181
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   geo_id                181 non-null    object
 1   name                  181 non-null    object
 2   pct_unemployed        181 non-null    object
 3   avg_wrk_commute_mins  181 non-null    object
 4   median_hsld_income    181 non-null    object
 5   per_cap_income        181 non-null    object
dtypes: object(6)
memory usage: 9.9+ KB

## Social Data:

In [85]:
# Load Data:

social = pd.read_csv('../data/tabular_data/acs_data/acs_social/ACSDP5Y2018.DP02_data_with_overlays_2020-05-13T154111.csv')
social.head(2)

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,DP02_0002PM,...,DP02_0150PE,DP02_0150PM,DP02_0151E,DP02_0151M,DP02_0151PE,DP02_0151PM,DP02_0152E,DP02_0152M,DP02_0152PE,DP02_0152PM
0,id,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",2351,186,2351,(X),1206,180,51.3,6.6,...,2351,(X),2333,190,99.2,1.2,2303,189,98.0,1.9

In [87]:
# Keep Social Variables of Interest:

social = social[['GEO_ID',
               'NAME',
               'DP02_0001E',
               'DP02_0015E',
               'DP02_0016E',
               'DP02_0017E',
               'DP02_0067PE',
                ]]

In [88]:
# Rename column headers to descriptives (names pulled from metadata table in 'data' folder):

social = social.rename(columns={'GEO_ID' : 'geo_id',
               'NAME' : 'name',
               'DP02_0001E'  : 'total_households',
               'DP02_0015E'  : 'avg_household_size',
               'DP02_0016E'  : 'avg_family_size',
               'DP02_0017E'  : 'pop_in_households',
               'DP02_0067PE' : 'pct_bach_degree'
                })

In [89]:
# Drop duplicate name row from original census data:

social = social.drop([0])
social.head()

,geo_id,name,total_households,avg_household_size,avg_family_size,pop_in_households,pct_bach_degree
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",2351,2.19,2.72,5147,89.6
2,1400000US11001000201,"Census Tract 2.01, District of Columbia, Distr...",0,-,-,0,100.0
3,1400000US11001000202,"Census Tract 2.02, District of Columbia, Distr...",1563,2.26,2.62,3540,90.5
4,1400000US11001000300,"Census Tract 3, District of Columbia, District...",2455,2.58,3.00,6334,91.1
5,1400000US11001000400,"Census Tract 4, District of Columbia, District...",618,2.27,3.18,1401,82.0

In [64]:
social.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 1 to 181
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   geo_id              181 non-null    object
 1   name                181 non-null    object
 2   total_households    181 non-null    object
 3   avg_household_size  181 non-null    object
 4   avg_family_size     181 non-null    object
 5   pop_in_households   181 non-null    object
 6   educ_attnmnt        181 non-null    object
dtypes: object(7)
memory usage: 11.3+ KB

## Housing Data:

In [107]:
# Load Data:

housing = pd.read_csv('../data/tabular_data/acs_data/acs_housing/ACSDP5Y2018.DP04_data_with_overlays_2020-05-13T160113.csv')
housing.head(2)

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0001PE,DP04_0001PM,DP04_0002E,DP04_0002M,DP04_0002PE,DP04_0002PM,...,DP04_0141PE,DP04_0141PM,DP04_0142E,DP04_0142M,DP04_0142PE,DP04_0142PM,DP04_0143E,DP04_0143M,DP04_0143PE,DP04_0143PM
0,id,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Percent Estimate!!HOUSING OCCUPANCY!!Total hou...,Percent Margin of Error!!HOUSING OCCUPANCY!!To...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Percent Estimate!!HOUSING OCCUPANCY!!Total hou...,Percent Margin of Error!!HOUSING OCCUPANCY!!To...,...,Percent Estimate!!GROSS RENT AS A PERCENTAGE O...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent Estimate!!GROSS RENT AS A PERCENTAGE O...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent Estimate!!GROSS RENT AS A PERCENTAGE O...,Percent Margin of Error!!GROSS RENT AS A PERCE...
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",2805,131,2805,(X),2351,186,83.8,6.7,...,18.1,10.4,195,122,19.3,12.1,48,42,(X),(X)

In [108]:
# Keep Housing Variables of Interest:

housing = housing[['GEO_ID',
               'NAME',
               'DP04_0001E',
               'DP04_0002E',
               'DP04_0006E',
               'DP04_0017E',
               'DP04_0046E',
               'DP04_0047E'
               ]]

In [109]:
# Rename column headers to descriptives (names pulled from metadata table in 'data' folder):

housing = housing.rename(columns={'GEO_ID' : 'geo_id',
               'NAME' : 'name',
               'DP04_0001E' : 'total_housing_units',
               'DP04_0002E' : 'occupied_housing_units',
               'DP04_0006E' : 'total_units_in_structure',
               'DP04_0017E' : 'units_built_after_2014',
               'DP04_0046E' : 'owner_occupied_units',
               'DP04_0047E' : 'renter_occupied_units'
                })

In [110]:
# Drop duplicate name row from original census data:

housing = housing.drop([0])
housing.head()

,geo_id,name,total_housing_units,occupied_housing_units,total_units_in_structure,units_built_after_2014,owner_occupied_units,renter_occupied_units
1,1400000US11001000100,"Census Tract 1, District of Columbia, District...",2805,2351,2805,0,1294,1057
2,1400000US11001000201,"Census Tract 2.01, District of Columbia, Distr...",0,0,0,0,0,0
3,1400000US11001000202,"Census Tract 2.02, District of Columbia, Distr...",1852,1563,1852,21,1063,500
4,1400000US11001000300,"Census Tract 3, District of Columbia, District...",2540,2455,2540,20,1234,1221
5,1400000US11001000400,"Census Tract 4, District of Columbia, District...",720,618,720,28,354,264

In [111]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 1 to 181
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   geo_id                    181 non-null    object
 1   name                      181 non-null    object
 2   total_housing_units       181 non-null    object
 3   occupied_housing_units    181 non-null    object
 4   total_units_in_structure  181 non-null    object
 5   units_built_after_2014    181 non-null    object
 6   owner_occupied_units      181 non-null    object
 7   renter_occupied_units     181 non-null    object
dtypes: object(8)
memory usage: 12.7+ KB

## Merge Dataframes:

In [116]:
# Create list of Dataframes:

dfs = [demog, econ, social, housing]

In [122]:
# Merge:

merged = reduce(lambda left,right: pd.merge(left,right,on='geo_id'), dfs)

In [123]:
merged.shape

(181, 30)

In [124]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 0 to 180
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   geo_id                    181 non-null    object
 1   name_x                    181 non-null    object
 2   total_pop                 181 non-null    object
 3   pct_male                  181 non-null    object
 4   median_age                181 non-null    object
 5   pct_hisp_latino           181 non-null    object
 6   pce_white                 181 non-null    object
 7   pct_black                 181 non-null    object
 8   pct_american_ind          181 non-null    object
 9   pct_asian                 181 non-null    object
 10  pct_hawaiian_pacisldr     181 non-null    object
 11  pct_other_race            181 non-null    object
 12  name_y                    181 non-null    object
 13  pct_unemployed            181 non-null    object
 14  avg_wrk_commute_mins      181 non-null    object
 15  median_hsld_income        181 non-null    object
 16  per_cap_income            181 non-null    object
 17  name_x                    181 non-null    object
 18  total_households          181 non-null    object
 19  avg_household_size        181 non-null    object
 20  avg_family_size           181 non-null    object
 21  pop_in_households         181 non-null    object
 22  pct_bach_degree           181 non-null    object
 23  name_y                    181 non-null    object
 24  total_housing_units       181 non-null    object
 25  occupied_housing_units    181 non-null    object
 26  total_units_in_structure  181 non-null    object
 27  units_built_after_2014    181 non-null    object
 28  owner_occupied_units      181 non-null    object
 29  renter_occupied_units     181 non-null    object
dtypes: object(30)
memory usage: 43.8+ KB

In [125]:
merged.head()

,geo_id,name_x,total_pop,pct_male,median_age,pct_hisp_latino,pce_white,pct_black,pct_american_ind,pct_asian,...,avg_family_size,pop_in_households,pct_bach_degree,name_y,total_housing_units,occupied_housing_units,total_units_in_structure,units_built_after_2014,owner_occupied_units,renter_occupied_units
0,1400000US11001000100,"Census Tract 1, District of Columbia, District...",5160,47.2,41.3,14.6,76.1,0.7,0.0,6.2,...,2.72,5147,89.6,"Census Tract 1, District of Columbia, District...",2805,2351,2805,0,1294,1057
1,1400000US11001000201,"Census Tract 2.01, District of Columbia, Distr...",3817,46.7,19.8,9.9,57.2,8.7,0.2,18.5,...,-,0,100.0,"Census Tract 2.01, District of Columbia, Distr...",0,0,0,0,0,0
2,1400000US11001000202,"Census Tract 2.02, District of Columbia, Distr...",4541,50.8,27.5,8.9,74.3,5.9,0.9,6.3,...,2.62,3540,90.5,"Census Tract 2.02, District of Columbia, Distr...",1852,1563,1852,21,1063,500
3,1400000US11001000300,"Census Tract 3, District of Columbia, District...",6334,44.9,31.5,6.6,77.1,7.3,0.0,7.4,...,3.00,6334,91.1,"Census Tract 3, District of Columbia, District...",2540,2455,2540,20,1234,1221
4,1400000US11001000400,"Census Tract 4, District of Columbia, District...",1428,42.6,45.7,15.6,72.5,3.0,0.0,6.2,...,3.18,1401,82.0,"Census Tract 4, District of Columbia, District...",720,618,720,28,354,264